<h1>Editing Book</h1>
 <% if @booker.errors.any? %>
  <%= @booker.errors.count %>件のerrorが発生しました
  <% @booker.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<div class="container">
 <div class="row">
   <div class="col-4">
    <p>画像投稿フォーム</p>

    <%= form_with model: @booker, local:true do |f| %>

    　<p>タイトル<%= f.text_field :title %></p>

      <p>Opinion <%= f.text_area :body %></p>
    <%= f.submit "Update Book", class: "btn btn-secondary" %>

    <% end %>
   </div>
  </div>
</div>

   <p class="btn btn-sm btn-success edit_book"> <%= link_to "Show", book_path(@booker)%></p>

 <p class="btn btn-sm btn-danger destroy_book"><%= link_to "Back", books_path %></p>


